@font-face {
  font-family: harrypotter;
  src: url("fonts/harryp-mvz6w-webfont.woff") format("woff");
  src: url("fonts/harryp-mvz6w-webfont.woff2") format("woff2");
}

main {
  margin: 3rem;
  height: 100vh;
}

body {
  background: url("thunderstorm.jpg");
  height: 100%;
  width: 100%;

}

header {
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  width: 100%;
}

.houseCrest {
  height: 100%;
  width: 5rem;
}

.filterHousecrest {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.studentImage {
  height: 100%;
  width: 5rem;
}

h1 {
  font-family: harrypotter;
  font-size: clamp(3rem, 32vw - 11rem, 9rem);
  color: #d9a443;
  margin: 1rem;
}

p,
th,
td {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}

h3, h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

button {
  background-color: transparent;
  border: 1px solid rgb(197, 197, 197);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  width: fit-content;
  color: white;
}

button:hover {
  background-color: #0A151B;
}

.primary_cta {
  background-color: #0A151B;

}


/******** STYLE PREFECT SYMBOLS ********/
td[data-field="prefect"]::after {
  content: "🏆";
}
td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/******** STYLE INQUISITORAL SQUAD SYMBOLS ********/
td[data-field="inquisitorial"]::after {
  content: "🎖";
}
td[data-field="inquisitorial"][data-inquisitorial="false"]::after {
  filter: grayscale(1);
}


.list tr:nth-child(odd) td {
  background-color: #0A151B;
}

th.sortby[data-sort-direction="asc"]::after {
  content: " ▼";
  font-size: 0.8rem;
}
th.sortby[data-sort-direction="desc"]::after {
  content: " ▲";
  font-size: 0.8rem;
}

/******** READ MORE POPUP ********/
#pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}
#pop_up .read_more_wrapper {
  background-color: #afafaf;
  box-shadow: 1px 1px 10px black;
  padding: 4rem;
  position: relative;
  border-radius: 0.5rem;
}


/******** GENERAL STYLING FOR ALL WARNING POPUPS ********/
  
.warning_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9a443;
}

.warning_popup_content {
  box-shadow: 1px 1px 10px black;
  padding: 4rem;
  position: relative;
  border-radius: 0.5rem;
}

.inquisitorial_warning {
  background-color: #d9a443;
}

.expel_warning {
  background-color: #d9a443;
}

.prefect_warning {
  background-color: #d9a443;
}

/* ---- BUTTONS ----*/
.close_button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.hide {
  visibility: hidden;
}

.student_info {
  display: grid;
}


#content_container {
  display: grid;
  grid-template-columns: 3fr 6fr;
  gap: 4rem;
  height: 100vh;
}

.left_side {
  position: sticky;
  top: 0;
  left: 0;
}

.right_side {
  display: flex;
  flex-direction: column;
}

.search_label {
  color: white;
}

.placeholder_text {
  color: white;
}

input:focus::placeholder {
  color: transparent;
}


#search {
  background-color: transparent;
  border: none;
  border-bottom: 1px rgb(197, 197, 197) solid;
  width: 100%;
}

#search:active {
  border: none;
}

#search_wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
}


@media screen and (max-width: 850px) {

  main {
    margin: 1rem;
  }

  #content_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .houseCrest {
    height: 100%;
    width: 3rem;
  }
  
}